p
{
    color: pink;
    font-size: 20px;
    text-align: justify;
}

.img1
{
    display: flex;
    width: 400px;
    align-content: center;
    border: 20px;
    margin: 30px;
    padding: 50px;
}

#p-unic
{
    color: blueviolet;
}